# --- Configuração do Servidor ---
PORT=3000
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=3306
JWT_SECRET=

# --- Configuração do frontend ---
VITE_API_URL=http://localhost:3000

# --- Configuração de Pagamentos (Mercado Pago) ---
MERCADO_PAGO_ACCESS_TOKEN=your_mercado_pago_access_token_here
MERCADO_PAGO_WEBHOOK_SECRET=your_webhook_secret_here
API_BASE_URL=http://localhost:3000